// 本文件的样式皆要以.why-为前缀
// 只在当前项目使用

@mixin clearfix {
    &:after {
        clear: both;
        content: '\20';
        display: block;
        height: 0;
    }

    zoom: 1;
}

.dpn {
    display: none;
}

// 上传图片
.why-filecard {
    // float: left;zz
    margin: 10px;
    position: relative;
}

.why-filecard__outer {
    width: auto;
    min-width: 200px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #D2D2D2;
}

.why-filecard__img {
    height: 114px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.why-filecard__box {
    height: 114px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.why-filecard__box-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    &>a {
        color: #333;

        &:visited {
            text-decoration: none;
        }

        &:hover {
            color: #333;
            text-decoration: none;
        }

        &:active {
            color: #333;
        }
    }
}

.why-filecard__del {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f66;
    color: #fff;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}

.why-filecard__choosebtn {
    width: 212px;
    height: 116px;
    border: 1px dashed #D2D2D2;
    text-align: center;
    color: #C0C0C0;
    display: inline-block;
    cursor: pointer;

    .layui-icon {
        line-height: 110px;
        font-size: 48px;

    }
}

//进度条

.why-filecard__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.why-detailimg {
    @include clearfix;

    &__img {
        float: left;
        height: 100px;
        width: auto;
        display: block;
        margin: 5px 5px;
    }

}

//隐藏富文本编辑器的底部
.tox .tox-statusbar {
    display: none !important;
}

// 富文本编辑器无边框
.why-tox-view .tox-tinymce {
    border: none;
}

//表格操作栏的按钮

.why-table-op-btn {
    cursor: pointer;
    color: #c6191d !important
}




.why-toolbar {
    line-height: 32px;
}

.why-card-title {
    display: inline-block;
    padding-left: 13px;
    border-left: 3px solid #c6191d;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #c6191d;
    font-weight: bold;
}

.why-searchform-btns {
    height: 43px;
}

//覆盖layui时间线图标
.why-layui-timeline-axis.layui-timeline-axis {
    color: #c6191d;

    &:hover {
        color: #c6191d;

    }
}

// 统计报表
.why-rpt {
    height: 100%;
    position: relative;
}

.why-rpt__search {
    height: 50px;

    //覆盖layui样式
    .layui-form-label {
        color: #94d9f7;
    }
}

.why-rpt__search-btns {
    height: 38px;
    margin-left: 10px;
}

.why-rpt__main {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.why-rpt__cell {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}

.why-rpt__row {
    height: 50%;

    .why-rpt__cell:first-child {
        padding-right: 5px;
    }

    .why-rpt__cell:last-child {
        padding-left: 5px;
    }
}

.why-rpt__main {
    .why-rpt__row:first-child .why-rpt__cell {
        padding-bottom: 5px;
    }

    .why-rpt__row:last-child .why-rpt__cell {
        padding-top: 5px;
    }
}